@model Company
@{
    ViewData["Title"] = "New Company";
}
<h2>@ViewData["Title"] </h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
	        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	        <div class="form-group">
		        <label asp-for="CID" class="control-label"></label>
		        <input asp-for="CID" class="form-control" />
		        <span asp-validation-for="CID" class="text-danger"></span>
	        </div>
            <div class="form-group">
                <label asp-for="CNAME" class="control-label"></label>
                <input asp-for="CNAME" class="form-control" />
                <span asp-validation-for="CNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CADDRESS" class="control-label"></label>
                <input asp-for="CADDRESS" class="form-control" />
                <span asp-validation-for="CADDRESS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Create</button>
                <a asp-action="Index" class="btn btn-info">Back to List</a>
	        </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} 